# Index Return data

- using yahoo finance for historical stock return data 
- going to need the following
    - Dates of the announcement
    - Index returns 10 days before the announcement
    - Index returns the day of the announcement
    - Index returns 10 days after the announcement

In [1]:
import pandas as pd
import yfinance as yf
from datetime import datetime, timedelta

In [20]:
fomc_statements = pd.read_csv('dates/fomc_statements.csv')
fomc_statements['Date'] = pd.to_datetime(fomc_statements['Date'])  


ticker = 'XLRE'  
start_date = fomc_statements['Date'].min() - pd.Timedelta(days=15)  
end_date = fomc_statements['Date'].max() + pd.Timedelta(days=15)  

stock_data = yf.download(ticker, start=start_date, end=end_date)

stock_data['return'] = stock_data['Close'].pct_change()

rows = []

for date in fomc_statements['Date']:
    row = {'announcement_date': date, 'ticker': ticker}  
    for t in range(-10, 11):  
        target_date = date + pd.Timedelta(days=t)
        try:
            row[f'T{t:+}'] = stock_data.loc[target_date, 'return']
        except KeyError:
            row[f'T{t:+}'] = pd.NA      rows.append(row)

final_df = pd.DataFrame(rows)

cols = ['ticker', 'announcement_date'] + [f'T{t:+}' for t in range(-10, 11)]
final_df = final_df[cols]

final_df
# final_df.to_csv('output.csv', index=False)

/var/folders/hl/fd_cpcmx35x03xwkvsfgw9kc0000gn/T/ipykernel_89003/681803269.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  fomc_statements['Date'] = pd.to_datetime(fomc_statements['Date'])  # ensure it's datetime format
[*********************100%***********************]  1 of 1 completed

,ticker,announcement_date,T-10,T-9,T-8,T-7,T-6,T-5,T-4,T-3,...,T+1,T+2,T+3,T+4,T+5,T+6,T+7,T+8,T+9,T+10
0,XLRE,2000-02-02,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,XLRE,2000-03-21,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,XLRE,2000-05-16,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,XLRE,2000-06-28,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,XLRE,2000-08-22,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,XLRE,2024-09-18,<NA>,"Ticker 0.011918 Name: 2024-09-09 00:00:00,...","Ticker 0.017667 Name: 2024-09-10 00:00:00,...","Ticker -0.002671 Name: 2024-09-11 00:00:00,...","Ticker 0.001785 Name: 2024-09-12 00:00:00,...","Ticker 0.007129 Name: 2024-09-13 00:00:00,...",<NA>,<NA>,...,"Ticker -0.002452 Name: 2024-09-19 00:00:00,...","Ticker -0.001787 Name: 2024-09-20 00:00:00,...",<NA>,<NA>,"Ticker 0.011066 Name: 2024-09-23 00:00:00,...","Ticker 0.0 Name: 2024-09-24 00:00:00, dtyp...","Ticker -0.004235 Name: 2024-09-25 00:00:00,...","Ticker -0.00985 Name: 2024-09-26 00:00:00, ...","Ticker 0.001357 Name: 2024-09-27 00:00:00,...",<NA>
202,XLRE,2024-11-07,"Ticker 0.003177 Name: 2024-10-28 00:00:00,...","Ticker -0.009048 Name: 2024-10-29 00:00:00,...","Ticker 0.003652 Name: 2024-10-30 00:00:00,...","Ticker -0.017512 Name: 2024-10-31 00:00:00,...","Ticker -0.010648 Name: 2024-11-01 00:00:00,...",<NA>,<NA>,"Ticker 0.011231 Name: 2024-11-04 00:00:00,...",...,"Ticker 0.017142 Name: 2024-11-08 00:00:00,...",<NA>,<NA>,"Ticker -0.008654 Name: 2024-11-11 00:00:00,...","Ticker -0.012635 Name: 2024-11-12 00:00:00,...","Ticker 0.007911 Name: 2024-11-13 00:00:00,...","Ticker -0.009003 Name: 2024-11-14 00:00:00,...","Ticker 0.001165 Name: 2024-11-15 00:00:00,...",<NA>,<NA>
203,XLRE,2024-12-18,<NA>,"Ticker 0.002056 Name: 2024-12-09 00:00:00,...","Ticker -0.016188 Name: 2024-12-10 00:00:00,...","Ticker -0.002549 Name: 2024-12-11 00:00:00,...","Ticker -0.000697 Name: 2024-12-12 00:00:00,...","Ticker -0.004185 Name: 2024-12-13 00:00:00,...",<NA>,<NA>,...,"Ticker -0.017174 Name: 2024-12-19 00:00:00,...","Ticker 0.018223 Name: 2024-12-20 00:00:00,...",<NA>,<NA>,"Ticker 0.004559 Name: 2024-12-23 00:00:00,...","Ticker 0.00666 Name: 2024-12-24 00:00:00, ...",<NA>,"Ticker 0.00147 Name: 2024-12-26 00:00:00, ...","Ticker -0.008074 Name: 2024-12-27 00:00:00,...",<NA>
204,XLRE,2025-01-29,<NA>,<NA>,"Ticker 0.018257 Name: 2025-01-21 00:00:00,...","Ticker -0.017452 Name: 2025-01-22 00:00:00,...","Ticker 0.008029 Name: 2025-01-23 00:00:00,...","Ticker 0.002896 Name: 2025-01-24 00:00:00,...",<NA>,<NA>,...,"Ticker 0.01318 Name: 2025-01-30 00:00:00, ...","Ticker -0.002168 Name: 2025-01-31 00:00:00,...",<NA>,<NA>,"Ticker -0.00169 Name: 2025-02-03 00:00:00, ...","Ticker 0.0 Name: 2025-02-04 00:00:00, dtyp...","Ticker 0.015719 Name: 2025-02-05 00:00:00,...","Ticker 0.002857 Name: 2025-02-06 00:00:00,...","Ticker -0.003561 Name: 2025-02-07 00:00:00,...",<NA>
205,XLRE,2025-03-19,<NA>,"Ticker -0.009654 Name: 2025-03-10 00:00:00,...","Ticker -0.010461 Name: 2025-03-11 00:00:00,...","Ticker -0.003604 Name: 2025-03-12 00:00:00,...","Ticker -0.019532 Name: 2025-03-13 00:00:00,...","Ticker 0.019429 Name: 2025-03-14 00:00:00,...",<NA>,<NA>,...,"Ticker -0.001191 Name: 2025-03-20 00:00:00,...","Ticker -0.00978 Name: 2025-03-21 00:00:00, ...",<NA>,<NA>,"Ticker 0.013917 Name: 2025-03-24 00:00:00,...","Ticker -0.011956 Name: 2025-03-25 00:00:00,...","Ticker 0.005082 Name: 2025-03-26 00:00:00,...","Ticker -0.002408 Name: 2025-03-27 00:00:00,...","Ticker -0.000483 Name: 2025-03-28 00:00:00,...",<NA>